* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}

a {
    color: gray;
}

a:hover {
    color: dimgray;
}

a:active {
    background-color: rgb(240, 240, 240);
}

#map {
    flex-grow: 1;
    background-color: lightgray;
}

.map-marker h1 {
    margin-bottom: 0.5rem;
}

.map-marker small {
    color: dimgray;
    display: block;
    margin-bottom: 0.25rem;
}

#search {
    width: 30vw;
    top: 0;
    bottom: 0;
    left: 0;
    background: white;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 15%);
    z-index: 1;
}

#search h1 {
    margin-bottom: 0.25rem;
}

#search h3 {
    color: gray;
    margin-bottom: 1.5rem;
    font-weight: normal;
}

.search-options {
    margin-bottom: 1rem;
}

.search-input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.search-input input {
    flex-grow: 1;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem 0 0 0.25rem;
    border: 1px solid gray;
    outline: none;
}

.search-input button {
    padding: 0.5rem 0.75rem;
    background-color: gray;
    color: white;
    border-radius: 0 0.25rem 0.25rem 0;
    border: 1px solid gray;
    cursor: pointer;
    outline: none;
}

.search-input button:hover {
    background-color: dimgray;
}

.search-input :is(button, input):focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 15%);
}

.collect-points-list {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    margin: 0 -2rem;
}

.collect-points-list__loading {
    padding: 1rem 2rem;
    text-align: center;
    color: gray;
}

.collect-points-list__item {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    background: white;
    /* The 2rem part must match the negative margin in `.collect-points-list`. */
    padding: 1rem 2rem;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.collect-points-list__item:first-child {
    border-top: 1px solid lightgray;
}

.collect-points-list__item:hover {
    background-color: rgb(240, 240, 240);
}

.search-list {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.search-list__title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}