{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'collect_points/index.css' %}">
    <link rel="icon" type="image/png" href="{% static 'collect_points/img/favicon_colored.png' %}">
    <script>
        const values = [];
    </script>
    <title>Bateria - Coleta de Pilhas e Baterias</title>
</head>
<body>
<div id="search">
    <h1>Pontos de Coleta</h1>

    <h3>Descubra pontos de coleta de pilhas e bateria na sua localidade.</h3>
    <div class="search-options">
        <form id="search-form">
            <label class="search-input">
                <input type="search" placeholder="Busque no Google Maps" id="search-input" autocomplete="off">
                <button type="submit">
                    <img src="{% static 'collect_points/img/search.png' %}" alt="search">
                </button>
            </label>
        </form>
        <a href="#" id="use-current-location">
            <small>Usar minha localização atual</small>
        </a>
    </div>
    <ul class="search-list">
    </ul>
    <ul class="collect-points-list">
        <li class="collect-points-list__loading">
            Loading...
        </li>
    </ul>
</div>
<div id="map"></div>
<nav class="mobile-nav">
        <ul>
            <li id='list-button' onclick="showSearch()">
                <hr>
                <hr>
                <hr>
            </li>
        </ul>
    </nav>
<section id="loading-section">
    <div>
        <img src="{% static 'collect_points/img/logo.svg' %}" alt="logo">
    </div>
</section>
{{ collect_points|json_script:'collect_points' }}
<script src="{% static 'collect_points/index.js' %}" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=loadMap"
        defer></script>
</body>
</html>